.header {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    grid-template-areas:
        "header_logo header_nav header_but1"
        ". header_txt .";
    grid-template-rows: 1fr 10fr;
    grid-column-gap: 20px;
    min-height: 800px;
    align-items: center;
    background-image: url(images/background1.png);
    background-repeat: no-repeat;
    background-size: cover;

}

a:hover {
    color: rgb(146, 30, 111);
}

body {
    font-family: 'Roboto', Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}

.header_logo {
    grid-area: header_logo;
    justify-self: center;
}

.header_nav {
    grid-area: header_nav;
    justify-self: right
}


a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.header_but1 {
    grid-area: header_but1;
    justify-self: center;
    height: 72px;
    width: 72px;
    height: 72px;
    background: #FAFAFA;
    border-radius: 8px;
}

.header_txt {
    grid-area: header_txt;
    align-content: flex-start
}

#title1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 71px;
    line-height: 101%;
}

#p1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
}

.but_shop {
    height: 25px;
    width: 200px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #FF451C;
    border-radius: 8px;
}

.txt_but {
    color: #FAFAFA;

}

.main {
    display: grid;
    grid-template-columns: minmax(720px, auto) minmax(720px, auto);
    grid-template-rows: minmax(800px, auto) minmax(380px, auto) minmax(700px, auto);
    grid-template-areas: 'content1 content2'
        'content4 content4'
        'content5 content6'
}

.content1 {
    grid-area: content1;
    justify-content: stretch;
    align-content: stretch;
}

.content2 {
    display: grid;
    grid-area: content2;
    background: #FAFAFA;
    justify-content: left;
    align-content: space-between;

    justify-items: left;


}

#but1 {
    margin-left: 48px;
}

#title_cont2 {
    padding-left: 48px;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 48px;
}

#txt_cont2 {
    padding-left: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
}

.content4 {
    grid-area: content4;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
}

#name_cont4 {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
}

#txt_cont4 {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    margin-left: 210px;
    margin-right: 210px;
}

.content5 {
    grid-area: content5;

}

.content6 {
    grid-area: content6;
    display: grid;
    background: #E8DCCD;
    justify-content: left;
    align-content: space-between;

    justify-items: left;
}

#title_cont6 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    padding-left: 48px;
}

#bold_txt_cont6 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    padding-left: 48px;
}

#txt1_cont6 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-left: 48px;
}

#bold_txt2_cont6 {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    padding-left: 48px;
}

#txt2_cont6 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    padding-left: 48px;
}

#but3 {
    margin-left: 48px;
    margin-bottom: 20px;
}

.main2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'content7 content8 content9 content10'
}

.content7 {
    grid-area: content7;
    justify-content: stretch;
    align-content: stretch;
    align-self: stretch;
    justify-self: stretch;
}

.content8 {
    grid-area: content8;
    justify-content: stretch;
    align-content: stretch;
    align-self: stretch;
    justify-self: stretch;
}

.content9 {
    grid-area: content9;
    justify-content: stretch;
    align-content: stretch;
    align-self: stretch;
    justify-self: stretch;
}

.content10 {
    grid-area: content10;
    justify-content: stretch;
    align-content: stretch;
    align-self: stretch;
    justify-self: stretch;
}

.footer {
    display: grid;
    grid-template-columns: 1.5fr 4fr 4fr 4fr 4fr 4fr 5fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: ". . . . . . .""column1 column2 column3 column4 column5 column6 column7"". . . . . . .";
    background: #9BB8D3;
}

.footer a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.footer_column_title {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5)
}

.footer_1column {
    grid-area: column1;
}

.logo2 {
    padding-left: 10px;
}

.footer_2column {
    grid-area: column2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5)
}

.footer_3column {
    grid-area: column3;
}

.footer_4column {
    grid-area: column4;
}

.footer_5column {
    grid-area: column5;
}

.footer_6column {
    grid-area: column6;
}

.footer_7column {
    grid-area: column7;
}

#footer_7column_txt {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}